{
"tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "printWidth": 140,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
