NUXT_LOCALESS_ORIGIN=https://your-localess-instance.example.com
NUXT_LOCALESS_SPACE_ID=your-space-id
NUXT_LOCALESS_TOKEN=your-secret-token
NUXT_PUBLIC_LOCALESS_ORIGIN=https://your-localess-instance.example.com
NUXT_PUBLIC_LOCALESS_SPACE_ID=your-space-id
NUXT_PUBLIC_LOCALESS_PUBLIC_TOKEN=your-public-token
