<div class="flex flex-col w-full gap-8 mx-auto max-w-5xl">
  <header class="py-8">
    <nav class="flex justify-center">
      <ul
        class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
        @for (locale of LOCALES; track locale.id) {
          <li>
            <a href="/home?locale={{locale.id}}" class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400">
              {{locale.name}}
            </a>
          </li>
        }
      </ul>
    </nav>
  </header>
  <router-outlet />
</div>


